<md-dialog layout="column" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Position {{vm.position.id}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <i class="mdi mdi-large mdi-close"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column">
    <div class="md-dialog-content">
      <h2>{{vm.position.sectorString}} + {{vm.selectedSectors.toString() }} = {{vm.newSectorString}}</h2>
      <div layout="column">
        <div class="URMN" layout="row">
          <div class="5R">
            <fieldset class="5R">
              <legend>5R</legend>
              <md-checkbox ng-repeat="s in ['HR', 'YR', 'KR', 'XR', 'UR']" ng-checked="vm.isChecked(s)" ng-disabled="vm.isDisabled(s)" ng-click="vm.toggleSector(s)">{{s}}</md-checkbox>
            </fieldset>
          </div>
          <div class="4N">
            <md-checkbox>HN</md-checkbox>
            <md-checkbox>KN</md-checkbox>
            <md-checkbox>UB</md-checkbox>
            <md-checkbox>UN</md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      ANNULER
    </md-button>
    <md-button ng-click="vm.confirm()">
      ACCEPTER
    </md-button>
  </div>
</md-dialog>