<md-dialog layout="column" flex="70" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Position {{vm.position.id}} {{vm.position.sectorString}} =&gt; {{vm.newSectorString}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <i class="mdi mdi-large mdi-close"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column">
  <div class="md-dialog-content" layout="column">
    <sector-suggest></sector-suggest>
  </div>
    <md-divider></md-divider>
  <div class="md-dialog-content" layout="column">
    <urmn-sectors></urmn-sectors>
    <urme-sectors></urme-sectors>
  </div>
  </md-dialog-content>
  <md-dialog-actions>
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      ANNULER
    </md-button>
    <md-button ng-click="vm.confirm()">
      ACCEPTER
    </md-button>
  </md-dialog-actions>
</md-dialog>