<md-dialog layout="column" flex="80" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Position {{vm.position.id}} {{vm.position.sectorString}} =&gt; {{vm.newSectorString}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <i class="mdi mdi-large mdi-close"></i>
      </md-button>
    </div>
  </md-toolbar>
  <sector-suggest layout="column"></sector-suggest>
  <md-dialog-content layout="column">
    <div class="md-dialog-content">
      <div layout="column">
        <urmn-sectors></urmn-sectors>
        <urme-sectors></urme-sectors>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      ANNULER
    </md-button>
    <md-button ng-click="vm.confirm()">
      ACCEPTER
    </md-button>
  </div>
</md-dialog>