<div class="URMN" layout="row" flex>
  <fieldset layout="column" class="sectors-group 5R" flex>
    <legend ng-click="vm.toggleSectorsFromString('5R')">5R</legend>
    <md-checkbox ng-repeat="s in ['HR', 'YR', 'KR', 'XR', 'UR']" ng-checked="vm.isChecked(s)" ng-disabled="vm.isDisabled(s)" ng-click="!vm.isDisabled(s) && vm.toggleSector(s)">{{s}}</md-checkbox>
  </fieldset>
  <fieldset layout="column" class="sectors-group 4N" flex>
    <legend ng-click="vm.toggleSectorsFromString('4N')">4N</legend>
    <md-checkbox ng-repeat="s in ['HN', 'KN', 'UB', 'UN']" ng-checked="vm.isChecked(s)" ng-disabled="vm.isDisabled(s)" ng-click="!vm.isDisabled(s) && vm.toggleSector(s)">{{s}}</md-checkbox>
  </fieldset>
</div>